<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class='col'>
      <%= form.label :fullname, 'Fullname:' %>
      <%= form.text_field :fullname, class: 'form-control' %>
    </div>
  </div>
  <div class="row">
    <div class='col'>
      <%= form.label :username, 'Username:' %>
      <%= form.text_field :username, class: 'form-control' %>
    </div>
  </div>
  <div class="row">
    <div class='col'>
      <%= form.label :email, 'E-mail:' %>
      <%= form.email_field :email, class: 'form-control' %>
    </div>
  </div>
  <div class="row pt-4">
    <div class='col'>
      <%= form.submit 'Sign up', class: 'btn btn-secondary w-100' %>
      <%= link_to 'Log in', login_path, class: 'btn btn-link pt-3 w-100' %>
    </div>
  </div>
<% end %>
