<div class="user-profile text-center p-5">
  <%if @user.image.exists?%>
    <div class="image-cropper mx-auto my-3">
      <%= image_tag @user.image.url,class:'profile-pic' %>
    </div>
  <%end%>
  <h1>I'm  <%=@user.fullname%></h1>
  <%= link_to 'All my transactions with festivals', transactions_path, class: 'btn btn-link pt-3 w-100' %>
  <%= link_to 'All transaction without festivals', no_festival_path, class: 'btn btn-link pt-3 w-100' %>
  <%= link_to 'All festivals', festivals_path, class: 'btn btn-link pt-3 w-100' %>
  <%= link_to 'LOG OUT', logout_path, class: 'btn btn-link pt-3 w-100' %>
</div>
