<%= form_with(model: festival, html: {multipart: true}) do |form| %>
  <% if festival.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(festival.errors.count, "error") %> prohibited this festival from being saved:</h2>
      <ul>
        <% festival.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.text_field :name, class: 'form-control',placeholder: 'Name' %>
  </div>
  <div class="form-group">
    <%= form.number_field :budget,step: "0.01", class: 'form-control',placeholder: 'Budget $0.00' %>
  </div>
  <div class="custom-file">
    <%= form.file_field :imageok,class: 'custom-file-input' %>
    <%= form.label :imageok, "Attach an Image", class: 'custom-file-label' %>
  </div>
  <div class="row pt-4">
    <div class='col'>
      <%= form.submit 'save', class: 'btn btn-secondary w-100' %>
    </div>
  </div>
<% end %>
