<article class="timeline">
  <ul class="posts">
    <%@festivals.each do |f|%>
      <li>
        <%= link_to festival_path(f) do %>
          <%= image_tag f.imageok.url,class:'w-50' %>
          <p><%=f.name%></p>
          <p class="group-created">Created at <%= f.created_at.strftime("%d %b %Y") %> by <%=f.username%></p>
        <%end%>
      </li>
    <%end%>
  </ul>
</article>
<%= render 'fab_button' %>
