<article class="timeline">
  <p> Your piglet is: <%= number_to_currency(@total)%></p>
  <ul class="posts">
    <%@transactions.each do |t|%>
      <li>
        <%= image_tag t.image_festival, class:'w-50'%>
        <p><%=t.description%></p>
        <p><%=number_to_currency(t.amount)%></p>
        <p><%=t.name_festival%></p>
      </li>
    <%end%>
  </ul>
</article>
<div class="btn-group-fab" role="group" aria-label="FAB Menu">
  <div>
    <%= link_to '<button type="button" class="btn btn-main btn-secondary has-tooltip" data-placement="left" title="Menu"> <i class="fa fa-plus"></i> </button>'.html_safe, new_transaction_path,  {remote: :true, 'data-toggle': 'modal', 'data-target': '#modal-window'} %>
  </div>
</div>
<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>
