<article class="timeline">
  <div class="pig-weigths">
    <p> Your &#128055; weights: <%= number_to_currency(sum(@transactions))%> </p>
  </div>
  <ul class="posts">
    <%@transactions.each do |t|%>
      <li>
        <%= image_tag t.festival.imageok.url,class:'w-50' %>
        <p><%=t.description%></p>
        <p><%=number_to_currency(t.amount)%></p>
        <p><%=t.festival.name%></p>
        <p><%= t.created_at.strftime("%d %b %Y")%></p>
      </li>
    <%end%>
  </ul>
</article>
<%= render 'fab_button' %>
