<article class="timeline">
  <p> Your piglet is: <%= number_to_currency(@total)%></p>
  <ul class="posts">
    <%@transactions.each do |t|%>
      <li>
        <%= image_tag t.image_festival%>
        <p><%=t.description%></p>
        <p><%=number_to_currency(t.amount)%></p>
        <p><%=t.name_festival%></p>
      </li>
    <%end%>
  </ul>
</article>
<div class="btn-group-fab" role="group" aria-label="FAB Menu">
  <div>
    <button type="button" class="btn btn-main btn-primary has-tooltip" data-placement="left" title="Menu"> <i class="fa fa-bars"></i> </button>
    <button type="button" class="btn btn-sub btn-info has-tooltip" data-placement="left" title="Fullscreen"> <i class="fa fa-arrows-alt"></i> </button>
    <button type="button" class="btn btn-sub btn-danger has-tooltip" data-placement="left" title="Save"> <i class="fa fa-floppy-o"></i> </button>
    <button type="button" class="btn btn-sub btn-warning has-tooltip" data-placement="left" title="Download"> <i class="fa fa-download"></i> </button>
  </div>
</div>
