<article class="timeline">
  <p> Your &#128055; weights: <%= number_to_currency(@total)%> </p>
  <ul class="posts">
    <%@transactions.each do |t|%>
      <li>
        <%= image_tag t.festival.imageok.url,class:'w-50' %>
        <p><%=t.description%></p>
        <p><%=number_to_currency(t.amount)%></p>
        <p><%=t.festival.name%></p>
      </li>
    <%end%>
  </ul>
</article>
<%= render 'fab_button' %>
