<!DOCTYPE html>
<html>
  <head>
    <title>FestivalBudget</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if current_user && !current_page?(root_path) %>
      <nav class="navbar navbar-expand-md bg-primary nav">
        <%current_page=current_page('festivals','show')%>
        <%= link_to current_page ? festivals_path : root_path,class: 'navbar-brand' do %>
          <i class="fa <%=current_page ? 'fa-arrow-left' : 'fa-bars'%>"></i>
        <% end %>
      </nav>
    <% end %>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <div class="<%='container ' unless current_page?(root_path)%>h-100">
      <%= yield %>
    </div>
  </body>
</html>
