<!DOCTYPE html>
<html>
  <head>
    <title>FestivalBudget</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if current_user %>
      <nav class="navbar navbar-expand-md bg-primary nav">
        <%unless current_page?('/')%>
          <%if params[:controller] == 'festivals' && params[:action] == 'show'%>
            <a class="navbar-brand" href="/festivals"><i class="fa fa-arrow-left"></i></a>
          <%else%>
            <a class="navbar-brand" href="/"><i class="fa fa-arrow-left"></i></a>
          <%end%>
        <%end%>
        <span class="navbar-text">
          Logged in as <strong><%= current_user.fullname %></strong>
        </span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse float-right" id="collapsibleNavbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <%#= link_to 'All events', root_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%#= link_to 'My events', user_path(session[:user_id]), class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%#= link_to 'My attending events', attended_events_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Log Out', logout_path, class: 'nav-link' %>
            </li>
          </ul>
        </div>
      </nav>
    <% end %>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <div class="container h-100">
      <%= yield %>
    </div>
  </body>
</html>
