<!DOCTYPE html>
<html>
  <head>
    <title>FestivalBudget</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% unless no_show_nav_bar %>
      <nav class="navbar bg-primary nav">
        <%current_page=current_page('festivals','show')%>
        <%= link_to redirect_to_action,class: 'navbar-brand' do %>
          <i class="fa <%=show_icon%>"></i>
        <% end %>
        <span class="text-center"><%= title_navbar %></span>
      </nav>
    <% end %>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <div class="h-100">
      <%= yield %>
    </div>
  </body>
</html>
