<!DOCTYPE html>
<html>
  <head>
    <title>FestivalBudget</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if current_user %>
      <nav class="navbar navbar-expand-md bg-primary nav">
        <%if current_page?('/')%>
          <span class="navbar-toggler-icon">
            <i class="fa fa-bars" aria-hidden="true"></i>
          </span>
        <%else%>
          <%current_path=current_path('festivals','show')%>
          <a class="navbar-brand" href="<%=current_path ? '/festivals' : '/'%>"><i class="fa fa-arrow-left"></i></a>
        <%end%>
      </nav>
    <% end %>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <div class="container h-100">
      <%= yield %>
    </div>
  </body>
</html>
